.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.todo-form-div {
  display: flex;
  width: 400px;
  margin: auto;
  flex-direction: column;
  .tag-div {
    display: flex;
    margin: 0 auto;
  }
}

.todo-list-div {
  border: 1px solid black;
  display: flex;
  width: 400px;
  margin: auto;
  flex-direction: column;
  .tag-div {
    display: flex;
    margin: 0 auto;
  }
}
